body {
    min-width: 1100px;
    margin: 0;
    padding: 0;
    padding-top: 10px;
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #fff;
    background-color: #444240;
}

.container {
    max-width: 1024px;
    height: 576px;
    margin: 0 auto;
    outline: 1px solid red;
}

img {
    max-width: 100%;
    height: auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;

    border: 0;

    clip: rect(0 0 0 0);
    overflow: hidden;
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

.block {
    display: block;
}

.none {
    display: none;
}
