body {
    min-width: 1100px;
    margin: 0;
    padding: 0;
    padding-top: 50px;
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #fff;
    background-color: #444240;
}

.container {
    max-width: 1024px;
    margin: 0 auto;
}

img {
    max-width: 100%;
    height: auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;

    border: 0;

    clip: rect(0 0 0 0);
    overflow: hidden;
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

.block {
    display: block;
}

.none {
    display: none;
}

.slider {
    display: flex;
    flex-wrap: wrap;
}

.slider-list {
    width: 1024px;
    height: 500px;
    display: flex;
    overflow: hidden;
}

.slider-list__item {
    flex: 0 0 1024px;
    height: 500px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 3%;
    transition: 1s all;
}

.slide-1 {
    background-image: url('../img/picture_1.jpg');
}

.slide-2 {
    background-image: url('../img/picture_2.jpg');
}

.slide-3 {
    background-image: url('../img/picture_3.jpg');
}

.slide-4 {
    background-image: url('../img/picture_4.jpg');
}

.slider-buttons {
    display: flex;
}

.slider-buttons__item {
    width: 20px;
    height: 20px;
    margin-right: 20px;
    border-radius: 50%;
    border: none;
    background-color: darkblue;
}

.slider-buttons__item:hover {
    background-color: white;
    cursor: pointer;
}

.active {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid white;
    background-color: #444240;
}

.slider-text {
    display: flex;
    width: 500px;
    overflow: hidden;
}

.slider-text__item {
    flex: 0 0 500px;
    transition: 1s all;
}

.slider-buttons {
    width: 500px;
}
